html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: lightskyblue;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color:midnightblue;
}

input {
  display: none;
}

.fa-cat{
  font-size: 3em;
  color: midnightblue;
  padding: 20px;
  cursor: pointer;
  transition: all 100ms ease-in;
  filter: brightness(1.8) grayscale(0.1) opacity(0.9);
  float: right;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  filter: brightness(1.2) grayscale(0.5) opacity(0.95);
  color: gold;
}
input:checked ~ label {
  filter: brightness(1.2) grayscale(0.5) opacity(0.95);
  color: gold;
}
input#rate-5:checked ~ label {
  filter: brightness(1.2) grayscale(0.5) opacity(0.95);
  color: gold;
  text-shadow: 0 0 25px goldenrod;
}